@import 'mixins';

.button,
button {
  @include formInputs;
  background-color: var(--color-info);
  color: var(--color-primary--reverse);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  img,
  span {
    margin-right: 5px;
  }

  &__info {
    background-color: var(--color-info);
    color: #fff;
  }
  &__danger {
    background-color: var(--color-danger);
    color: #fff;
  }
  &__success {
    background-color: var(--color-success);
    color: #fff;
  }
  &__warn {
    background-color: var(--color-warn);
    color: #fff;
  }

  &.--outline {
    background-color: transparent !important;
    border-color: var(--border-color);
    color: var(--color-primary);
  }

  &.--text {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--color-secondary) !important;
  }
}
