.grid {
  display: grid;

  &__column {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 0;

    &.--c1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &.--c2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.--col-gap-l {
      grid-column-gap: var(--padding-l);
    }
  }

  &__row {
    grid-template-rows: auto;
    grid-row-gap: var(--padding-l);
    height: max-content;
    padding: 1rem;
  }
}
