h1 {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  font-weight: var(--font-weight-l);
}
h2 {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-weight: var(--font-weight-m);
}
h3 {
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-l);
  font-weight: var(--font-weight-s);
}
label,
button,
input,
h4,
h4,
h6,
p,
span {
  font-size: var(--font-size-normal);
  line-height: var(--font-line-height-m);
  font-weight: var(--font-weight-normal);
}

label {
  font-size: 12px;
  font-weight: 500;
  line-height: initial;
  color: var(--color-primary);
}
