@media only screen and (max-width: 1024px) {
  .app-layout {
    nav,
    .nav {
      padding: var(--padding-l) !important;
    }

    .page-order {
      padding: var(--padding-l) !important;
      grid-template-columns: 1fr !important;
    }
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
