@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import 'reset';
@import 'typography';
@import 'button';
@import 'input';

:root {
  --transition-m: 0.35s ease;

  --padding-l: 16px;
  --padding-m: 8px;
  --padding-s: 4px;

  --background-color: #ffffff;
  --border-color: #dfdfdf;
  --border-color--focus: #0172db;

  --font-size-l: 32px;
  --font-line-height-l: 1.5;
  --font-weight-l: 700;

  --font-size-m: 24px;
  --font-line-height-m: 1.25;
  --font-weight-m: 500;

  --font-size-s: 16px;
  --font-line-height-s: 1;
  --font-weight-s: 400;

  --font-size-normal: 14px;
  --font-line-height-normal: 1;
  --font-weight-normal: 300;

  --color-primary: #000000;
  --color-primary--reverse: #ffffff;
  --color-secondary: #585858;
  --color-tertiary: #888888;

  --color-danger: #dd4545;
  --color-warn: #ecbd51;
  --color-info: #0172db;
  --color-success: #41b65b;

  --container: 1280px;
  --form-element-height: 40px;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: var(--background-color);
}

a {
  font-weight: bold;
  color: #2c3e50;

  &.router-link-exact-active {
    color: #42b983;
  }
}

hr {
  outline: none;
  border: none;
  height: 1px;
  background: var(--border-color);
  margin: var(--padding-m) 0;
}

.page {
  height: 100%;
  overflow: auto;
}

.wrapper {
  padding: calc(var(--padding-l) * 2) 0;
  display: grid;
  width: 100%;
  overflow: auto;
  grid-template-rows: auto;
  grid-row-gap: var(--padding-l);
}
